*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}
::-webkit-scrollbar {
  width: 7px;
  height:7px;
}

::-webkit-scrollbar-track {
  background:black; 
}
 
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius:8px;
}
::-webkit-scrollbar-thumb:hover{
	background-image:linear-gradient(grey,black);
}


/**************************************************
HEADER
**************************************************/
.header{
    min-height: 75vh;
    width: 100%;
    background-image: linear-gradient( rgb(0 0 0 / 57%), rgb(0 0 0 / 91%)),url(../images/back.jpg);
    background-position:0% 10%;
    background-size:cover;
    background-attachment: fixed;
    position:relative;
    color:whitesmoke;
} 
.topicon{
    display:flex;
    padding:0;
    justify-content:flex-end;
    align-items:center;
}
.topicon ul li{
    list-style-type:none;
}
.topicon a{
    text-decoration:none;
    color:white;
    font-size:25px;
    padding:8px 12px;
}
/* .topicon a:hover{

} */
.header .topicon .login ul li #user{
    font-size:70px;
    background:transparent;
}
.header .topicon .login{
    display:flex;
    padding:1px 10px 0 0;
    justify-content:space-between;
    align-items:center;
}
.topicon .header .login a{
    text-decoration:none;
    color:white;
    font-size:8px;
}
.header .login a:hover{
    font-size:17px;
}
.header .topicon .login .in{
    display:flex;
    padding:10px 0 10px 20px;
    justify-content:space-between;
    align-items:center;
}
.header .topicon .login .in a{
    font-size:15px;
    font-weight:300;
}
.header .topicon .login .in a:hover{
    color:burlywood;
}
.login #user{
    display:flex;
    justify-content:center;
}
.logo{
    font-size:50px;
}
.logo a{
    text-decoration:none;
    color: white;
    letter-spacing:8px;
    font-weight:500;
}
.logo a span{
    font-size:30px;
    font-weight:200;
}
.header nav, .header nav .topnav ul{
    display:flex;
    padding: 0 260px 0 90px;
    justify-content:space-between;
    align-items:baseline;
    overflow:hidden;
}
.topnav ul li{
    list-style-type:none;
    display:inline-block;
    padding:8px 12px;
}
.topnav ul li a{
    text-decoration:none;
    color:white;
}
.topnav ul li::after{
    content:'';
    width:0%;
    height:2px;
    background:#ff5722;
    display:block;
    margin:auto;
    transition:0.6s;    
}
.topnav ul li:hover::after{           
    width:100%;
}

/*.topnav ul li.active::after{
    width:100%;
}*/
.topnav .vendor-cat:hover .dropdown ul{
    display:block;
}
.topnav .vendor-cat .dropdown ul{
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
}
.topnav .vendor-cat:hover .dropdown{
    float:none;
    padding:1px 12px;
    display:contents;
    justify-content:space-between;
    align-items:center;
}
/*************************************************************
MAIN CONTENT
**************************************************************/
.content .social{
    display:flex;
    padding: 2% 6%;
    justify-content:center;
}
.content .social a{
    color:black;
    display:inline-block;
    padding:0 35px;
    font-size:30px;
}
.content .social #fb:hover{
    color:#3b5998;
}
.content .social #tw:hover{
    color:#00BFFF;
}
.content .social #pin:hover{
    color:red;
}
.content .social #ig:hover{
    background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    background-clip:text;
    color:transparent;
    -webkit-text-fill-color: transparent;
}
/**************************************************
FOOTER
***************************************************/
.footer-container{
    background:#111111;
}
.container{
    width:100%;
    min-height:30vh;
    background:#111111;
    color:#fff;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin:0 auto;
}
.about, .ftlink, .form{
  display:flex;
  flex-direction:column;
  margin:3rem 5rem 5rem 2rem;
}
.container h3{
  margin-bottom: 1rem;
}
.container .about{
    display:block;
    line-height:25px;
    max-width:20em;
}
.container .about h4{
    display:block;
}
.container .about p{
    font-size:10px;
}
.container .ftlink{
    display:block;
    max-width:20em;
}
.container .ftlink ul{
    list-style-type:none;
    line-height:35px;
}
.container .ftlink ul li a{
    text-decoration:none;
    color:#999999;
    font-size:12px;
    font-weight:500;
    justify-content:left;
}
.container .ftlink ul li a:hover{
    color:#ff5722;
}
.ft h6{
    display:flex;
    padding:1% 2%;
    justify-content:center;
    color:white;
    background:black;
    font-weight:200;
}
.ft h6 a{
    text-decoration:none;
    color:white;
}
.ft h6 a:hover{
    color:#ff5722;
}
.ft h6 #group:hover{
    color:#ff5722;
}
.container .form{
    display:inline-flex;
    max-width:30em;
}
.container .form .sus{
    display:flex;
    justify-content:space-between;
}
.container .form .sus #subscribe{
  cursor: pointer;
}
.container .form .sus #subscription{
    width:200px;
    height:30px;
    padding:10px 0 10px 10px;
}
.container .form .sus #subscription:focus{
    outline:none;
}
.container .form .sus #subscribe{
    background:#ff5722;
    width:50px;
    height:30px;
    border:none;
    border-radius:100%;
}
.container .form .sus #subscribe:hover{
    color:white;
    background:transparent;
    border:1px solid white;
    transition:0.7s;
    font-size:13px
}